@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
    <meta name="viewport" content="wIdth=device-wIdth" />
    <title>Index</title>
    @Styles.Render("~/styles/app-styles")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <div id="page">
            
            <nav>
                <ul id="main-navigation">
                    
                </ul>
            </nav>
        
            <section id="content">
                @Html.Partial("_PatientList")
                @Html.Partial("_PatientDetail")                
            </section>
            
            <footer>
                &copy;2012 all rights reserved
            </footer>
        </div>
    
        @Scripts.Render("~/bundles/jquery",
                        "~/bundles/lib-scripts",
                        "~/scripts/lib/require.js",
                        "~/bundles/app-scripts",
                        "~/scripts/_main.js")
    </body>
</html>
